{% extends 'base.html.twig' %}

{% block title %}Editar{% endblock %}

{% block main %}

    {{ parent() }}
    <p>Creación de un lugar</b>.</p>

    {{ form(formulario) }}
    
    {# <a href="{{ path('place_list') }}">back to list</a> #}

    {# <a href="{{ path('place_edit', {'id': place.id}) }}">edit</a> #}

    {# {{ include('place/_delete_form.html.twig') }} #}
{% endblock %}
