{% extends 'base.html.twig' %}

{% block title %}Place{% endblock %}

{% block main %}
    {{ parent() }}
    <h1>Place</h1>

    <table class="table">
        <tbody>

             <tr>
                <th>Id</th>
                <td>{{ place.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ place.description }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ place.date|date('d/m/Y') }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('comment_list') }}">back to list</a>

    <a href="{{ path('comment_edit', {'id': place.id}) }}">edit</a>

{% endblock %}
