<!DOCTYPE html>
<html lang="es">
    <head>
		{% block login %}

			{% if is_granted("IS_AUTHENTICATED_FULLY") %}
				<div class="my-1 text-end">
					<a href="{{ path('home') }}">
						{{ app.user.displayname }}
						<span style="font-size: 0.8em"> ({{ app.user.email }})</span>
					</a>
					-
					<a href="{{ path('app_logout') }}">Logout</a>
				</div>
			{% else %}
				<div class="my-1 text-end">
					<a style="vertical-align: middle" href="{{ path('app_login') }}">
						LogIn
						<img src="{{ asset('images/buttons/login.png') }}"
							alt="login" height="25" width="25">
					</a>
					<span>/</span>
					<a style="vertical-align:middle" href="{{ path('app_register') }}">
						Registro
						<img src="{{ asset('images/buttons/register.png') }}"
							alt="register" height="25" width="25">
					</a>
				</div>
			{% endif %}
		{% endblock %}
    	
		{% block head %}
			<meta charset="UTF-8">
			<meta name="viewport" content="width=device-width, inicial-scale=1">
			
			<title>{%  block title %}{% endblock %} - SymfoPlaces</title>
			
			<link rel="stylesheet" type="text/css" href="{{ asset('css/bootstrap.min.css') }}">
			<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
			<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
			<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    	{% endblock %}

    </head>
    
    <body class="container p-3">
    	{% block header %}
    	<header class="p-3 border bg-light justify-content-center d-flex">
				<hgroup class="col-8">
					<h1>SymfoPlaces</h1>
					<h2>Página de lugares, recorre el mundo.</h2>
				{# <p style="font-style:italic">"{{ frase.getFraseAleatoria() }}"</p> #}
				</hgroup>
				<figure class="col-4 text-end ">
					<a href="{{ path('portada') }}">
						<img class="h-auto w-50" styles="height: 30px" alt="Logo" src="/images/template/place.png">
				
					</a>
				
				</figure>
    	</header>
    	{% endblock %}
    	{% block nav %}
    	<div class="container row">
    		<nav class="col-9">
    			<ul class="nav nav-pills">

    				<li class="nav-item mr-2">
    					<a class="nav-link"
						 href="{{ path('portada') }}">Inicio</a>
    				</li>


					<li role="presentation" class="dropdown">	
						<a role="button" class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							Lugares
						</a>
						<ul class="dropdown-menu">
							<a class="dropdown-item" href="{{ path('place_list') }}">Lista de lugares</a>
							<a class="dropdown-item" href="{{ path('place_search') }}">Buscar lugares</a>
							{% if is_granted('create', entityFaker.getMock('Place')) %}
								<a class="dropdown-item" href="{{ path('place_create') }}">Nuevo lugar</a>
							{% endif %}
						</ul>
					</li>			
    				<li class="nav-item mr-2">
    					<a class="nav-link" href="{{ path('contact') }}">Contacto</a>
    				</li>    				   				
    			</ul>
    		</nav>
    		<div class="col-3 pt-2 text-end">
    			{{ "now"|date('d/m/Y H:i', timezone="Europe/Madrid") }}
    		</div>
    	</div>
    	{% endblock %}


		<nav aria-label="breadcrumb" class="container bg-light my-3 border">
				<ol class="breadcrumb m-2">
		{% block breadcrumb %}
				{% block breadcrumb_first %}
					<li class="breadcrumb-item"><a href="{# {{ path('portada') }} #}">Inicio</a></li>
				{% endblock %}	

		{% endblock %}
				</ol>
		</nav>


    	<main class="my-3 container">
    		{% block main %}
    			{% block success %}
    				{% for message in app.flashes('success') %}
    					<div class="alert alert-success">
    						{{ message }}
    					</div>
    				{% endfor %}
    			{% endblock %}

    		{% endblock %}
    	</main>
    	
        {% block footer %}
        	<footer class="page-footer font-small p-4 bg-light border now">
        		<p>Aplicación crada por <b>Carla Velasco</b> como ejemplo de clase.
        		Desarrollada haciendo uso de <b>Symfony</b> y <b>Bootstrap</b>.</p>
        	</footer>
        {% endblock %}
    </body>
</html>
