{% extends 'base.html.twig' %}
{% block title %}Catálogo de películas{% endblock %}

{% block breadcrumb %}
	{{parent()}}
{% endblock %}

{%  block main %}
	{{ parent() }}
	<p>Esta es la portada del sitio web <b>SymfoPlaces</b>.</p>
	
	<p>A lo largo de las próximas semanas iremos editando este ejemplo para dotarlo de nuevas características y funcionalidades.</p>
	
	
	<div class="container my-5 d-flex">
	{# 	{% for place in places %}
			<figure class="m-2 col text-center">
				<a href="{{ path('place_show', {'id': place.id}) }}">
					<img class="img-fluid rounded w-90 h-100 d-inline-block" alt="Carátula de {{place.titulo }}" 
					src="{{ asset(covers_directory~'/'~place.caratula) }}"
					title="Carátula de {{ place.titulo }}">
				</a>
				<figcaption>{{ place.titulo }}</figcaption>
			</figure>
		{% endfor %} #}
	</div>
{% endblock %}







