{% extends 'base.html.twig' %}
{% block title %}Catálogo de actores{% endblock %}

{% block breadcrumb %}
	{{parent()}}
	<li class="breadcrumb-item"><a href=" {{ path('actor_list') }}">Actores</a></li>
	<li class="breadcrumb-item active" aria-current="page">{{ actor.nombre }}</li>
{% endblock %}

{%  block main %}
	{{ parent() }}
	<h2>{{ actor.nombre }}</h2>
	<p>Detalles del actor {{ actor.nombre }} en <b>SymfoFilms</b>.</p>
	
	<p>A lo largo de las próximas semanas iremos editando este ejemplo para
	dotarlo de neuvas características y funcionalidades.</p>
	
	<div class="bg-light border my-3 p-3 row align-items-center justify-content-center">
	
		<div class="border my-3 col p-3 text-start">
			<p><b>ID</b>: {{ actor.id }}</p>
			<p><b>Nombre</b>: {{ actor.nombre }}</p>
			<p><b>Nacimiento</b>: {{ actor.nacimiento|date('d/m/Y') }}</p>
			<p><b>Nacionalidad</b>: {{ actor.nacionalidad }}</p>
			{% if actor.biografia %}
				<h2>Biografia:</h2>
				<p>{{ actor.biografia}}</p>
			{% endif %}
		</div>

		<div class="col m-3 p-3 text-center bg-light">
			<img class="rounded border movie-cover" style="max-width: 240px"
				alt="Carátula de {{actor.nombre}}"
				title="Carátula de {{actor.nombre}}"
				src="{{ asset(actors_directory~'/'~(actor.image ?? 'default.jpg'))}}">
		</div>

		{% if actor.getPeliculas()|length > 0 %}
		<div>
			<h2>Lista de peliculas</h2>
			{% set peliculas = actor.getPeliculas() %}
			{% include '/includes/lista_peliculas.html.twig' %}
		</div>
		{% endif %}

		<div class="text-center">
			<a href="{{  path('actor_list') }}">
				<img height="40" src="{{ asset('images/buttons/list.png') }}"
				alt="Lista" title="Volver al listado"></a>
			</a>
			{% if is_granted('edit', actor) %}
				<a href="{{ path('actor_edit', {'id':actor.id}) }}">
					<img height="40" src="{{ asset('images/buttons/update.png') }}"
					alt="Modificar" title="Modificar"></a>
				</a>
			{% endif %}
			{% if is_granted('delete', actor) %}
				<a href="{{  path('actor_delete', {'id':actor.id}) }}">
					<img height="40" src="{{ asset('images/buttons/delete.png') }}"
					alt="Borrar" title="Borrar"></a>
				</a>
			{% endif %}
		</div>
	
{% endblock %}
