{% extends 'base.html.twig' %}
{% block title %}Edición de película <b>{{ pelicula.titulo }}{% endblock %}

{% block breadcrumb %}
	{{parent()}}
	<li class="breadcrumb-item"><a href=" {{ path('pelicula_list') }}">Peliculas</a></li>
	<li class="breadcrumb-item active" aria-current="page">Editar {{pelicula.titulo}}<li>
{% endblock %}

{%  block main %}
	{{ parent() }}

	<p>Edición de la película <b>{{ pelicula.titulo }}</b>.</p>
	<p>A lo largo de las próximas semanas iremos editando este ejemplo para dotarlo de nuevas características y funcionalidades.</p>
	
	<div class="bg-light border row align-items-center justify-content-center my-3 p-5">


		<div class="col-6">
			{{ form(formulario) }}
		
			<div class="my-5">
					<h3>Actores</h3>
					<ul class="list-group p-2 my-3">
						{% for actor in pelicula.getActores() %}
							<li class="list-group-item p-2">
								<a class="align-middle" href="{{ path('actor_show', {'id': actor.id}) }}">
									{{ actor.nombre }}
								</a>
								<span class="align-middle">, de {{ actor.nacionalidad }}.</span>
								<a href="{{ path('pelicula_remove_actor', 
												{'pelicula' : pelicula.id, 'actor': actor.id}) }}">
									<img src="{{ asset('/images/buttons/delete.png') }}"
										alt="quitar" height="25" width="25" class="m-2">
								</a>
							</li>
						{% else %}
							<li class="list-group-item warning">No se han indicado actores.</li>
						{% endfor %}
					</ul>

				{{ form_start(formularioAddActor) }}
				<div class="d-flex flex-row justify-content-start align-items-center border bg-light my-2">
					<div class="px-2">
						{{ form_label(formularioAddActor.actor) }}
					</div>
					<div class="px-2">
						{{ form_widget(formularioAddActor.actor) }}
					</div>
					<div class="p-2 mt-3">
						{{ form_row(formularioAddActor.Add) }}
					</div>
						{{ form_rest(formularioAddActor) }}
				</div>
			</div>
		</div>
	
	<div class="col-6 text-center">
			<figure class="my-2 p-2">
				<img class="rounded border movie-cover" style="max-width: 220px"
					alt="Carátula de {{pelicula.titulo}}"
					title= "Carátula de {{pelicula.titulo}}"
					src="{{asset(covers_directory~'/'~(pelicula.caratula ?? 'default.jpg'))}}">

				{% if pelicula.caratula %}
				<figcaption class="my-3 text-center">
					Borrar esta Carátula
					<a href="{{path('pelicula_delete_cover', {'id': pelicula.id})}}">
						<img src="{{asset('images/buttons/delete.png')}}" height="30" width="30"
							alt="Borrar carátula" title="Borrar carátula">
					</a>
				</figcaption>
				{% endif %}
			</figure>
		</div>
	</div>


	
	
{% endblock %}
